.listado_noticias {
  padding: 60px 0;
  .noticia {
    border-radius: 10px;
    transition: all .5s;
    margin-bottom: 20px;

    &:hover {
      box-shadow: 0 10px 32px rgba(129, 132, 146, 0.14);
    }

    .ntc_imagen {
      border-radius: 10px 10px 0 0;
      max-height: 250px;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: all .5s;
        border-radius: 10px 10px 0 0;
      }
    }

    .ntc_contenido {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
      gap: 20px;
      padding: 20px 10px 0;

      .ntc_c_autor_categoria {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 10px;
        width: 100%;

        .ntc_c_categoria {
          padding: 0 10px;
          border-radius: 20px;
          background-color: $color_primario;
          transition: all .5s;
          text-transform: uppercase;
          color: white;

          &:hover {
            background-color: $color_secundario;
          }
        }

        .ntc_c_autor {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .ntc_opciones{
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 20px;
          }
          p {
            margin: 0;

            a {
              color: $color_secundario;
              transition: all .5s;

              &:hover {
                color: $color_primario;
              }
            }
          }
        }
      }

      .ntc_c_titulo {
        a {
          color: black;
          transition: all .5s;

          &:hover {
            color: $color_primario;
          }
        }
      }
    }

    .ntc_final {
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      .ntc_f_fecha {
        p {
          color: gray;
        }
      }

      .ntc_f_comentarios {
        display: flex;
        align-items: start;
        justify-content: end;
        gap: 5px;

        i {
          color: gray;
        }

        a {
          color: gray;
          transition: all .5s;

          &:hover {
            color: $color_primario;
          }
        }
      }
    }
  }
}