/***OBJECTS DETAILS***/
.detalle_contenido{
  padding: 60px 0;
  .completo_detalle{
    .dc_contenido{
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      gap: 20px;
      .dc_titulo_c{
        h2{
          color: $color_primario;
          transition: all .5s;
          font-weight: 600;
          &:hover{
            color: $color_secundario;
          }
        }
      }
      .dc_precio_c{
        p{
          font-size: 20px;
          color: $color_secundario;
        }
      }
    }
    .dc_imagen_detalle{
      overflow: hidden;
      border-radius: 30px 10px 30px 10px;
      position: relative;
      transition: all .5s;
      &:hover{
        img{
          transform: scale(1.1);
          filter: blur(0);
        }
      }
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: blur(3px);
        transition: all .5s;
      }
    }
  }
}
.listado_comentarios{
  padding: 60px 0;
  background-color: whitesmoke;
  .contenedor_listado{
    padding-top: 30px;
    .comentario{
      margin-bottom: 10px;
      padding: 10px 30px;
      border: 1px solid gray;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      gap: 20px;
      transition: all .5s;
      &:hover{
        border-color: transparent;
        background-color: white;
        box-shadow: 0 10px 32px rgba(129, 132, 146, 0.14);
      }
      .comentario_email_fecha{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
        h4{
          color: $color_secundario;
        }
        h5{
          color: $color_primario;
        }
      }
    }
  }
}