{% load static %}
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Eliminar Usuario <i class="fas fa-user"></i></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'Users_Delete' object.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <p>Estas seguro de Eliminar el usuario seleccionado</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-lg" type="button" data-bs-dismiss="modal">Cancelar <i class="fas fa-ban"></i></button>
                    <button class="btn btn-outline-danger btn-lg" type="submit">Eliminar Usuario <i class="fas fa-trash"></i></button>
                </div>
            </form>
        </div>
    </div>